@import "tokens.css";
@import "buttons.css";
@import "./../components/evse-header.css";
@import "./../components/evse-config.css";
@import "./../components/evse-state.css";

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size-m);
}

html,
body {
    margin: 0;
    padding:0;
    height: 100%;
    background: var(--color-neutral-7);
    color: var(--color-neutral-3);
    -webkit-overflow-scrolling: touch; /* For momentum scrolling in ios safari */
    -webkit-tap-highlight-color: var(--color-4);
    touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}
